.products-page {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 2rem;
}

.left_options {
  width: 15%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  gap: 0.6rem;
  padding: 1rem;
  /* border-right: 1px solid rgb(156, 147, 147); */
}
.gold {
  color: rgb(194, 166, 9);
}

.project_theme {
  background-color: #902735;
  color: white;
}
.right_products {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
  /* border: 1px solid blue; */
  padding: 3rem;
  border-left: 1px solid rgb(213, 208, 208);
}

.right_products div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  padding: 1rem;
  border-radius: 15px;
}
