.small_box div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 15px;
}

.small_box{
    padding: 2rem;
}
@media all and (max-width: 1200px) and (min-width: 720px) {
  .small_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
  }
}

@media all and (max-width: 719px) and (min-width: 200px) {
  .small_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
